.video {
  height: 87vh;
  background-size: cover !important;

  h1 {
    margin-top: 100px;
    font-size: 3vw;
    color: white;
    font-family: "Open Sans"; // TO CHANGE > Apple System
    font-weight: normal;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding-top: 15vh;
    margin-bottom: 40px;
  }

  h3 {
    color: white;
    font-weight: lighter;
  }
}


.tutorial {
  max-width: 550px;
  min-width: 350px;
  min-height: 250px;
  max-height: 350px;
  width: 100%;
}

.computer {
  width: 550px;

  margin-top: 160px;
}
