.discover {
  padding-top: 80px;
  border-bottom: solid 1px #7CDDCC;

  h1 {
    font-weight: lighter;
    margin-bottom: 20px;
    color: $brand-blue;
  }
}

.paxfamilia {
  font-size: 25px;
  font-weight: bold;
}

.paxfamilia-desc {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  font-weight: lighter;
}
