.feedbacks {
  border-top: solid 1px #7CDDCC;
  background: linear-gradient(180deg, rgba(3, 187, 156,0.08) 0%, rgba(255,255,255,0.9 ) 30%);
  padding: 6% 0% 10% 0%;
  margin-top: 50px;

  h1 {
    font-weight: lighter;
    margin-bottom: 50px;
    color: $brand-blue;
  }
}
