// Variables
@import "config/variables";

// Components
@import "components/navbar";
@import "components/button";
@import "components/avatar";
@import "components/card";
@import "components/quote";
@import "components/utilities";
@import "components/popup";

// Sections
@import "sections/banner";
@import "sections/discover";
@import "sections/security";
@import "sections/feedbacks";
@import "sections/preorder";
@import "sections/team";
@import "sections/footer";

body {
  margin: 0;
  background-color: white;
  color: $brand-blue;
  font-family: $base-font;
}

a {
  color: rgba(#000, 0.7);
  display: inline !important;
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

ul {
  list-style: none;
}

h2 {
  font-weight: lighter;
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-weight: 600;
}

.wrapper {
  background-color: #F3F3F3;
  height: 150%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.line {
  height: 1px;
  width: 300px;
  margin: 20px auto 0px auto;
  background-image: linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  background-image:-moz-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  background-image:linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  background-image:-webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  background-image:-o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  background-image:-ms-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(52, 76, 92, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
}






// .line{
//   width:300px;height:1px;
//   background-color:#FFFFFF;
//   margin: 20px auto 0px auto;
//   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#FFFFFF, endColorstr=#344C5C);
//   background-image:-moz-linear-gradient(left, #FFFFFF 15%, #344C5C 50%,#FFFFFF 85%);
//   background-image:linear-gradient(left, #FFFFFF 15%, #344C5C 50%,#FFFFFF 85%);
//   background-image:-webkit-linear-gradient(left, #FFFFFF 15%, #344C5C 50%,#FFFFFF 85%);
//   background-image:-o-linear-gradient(left, #FFFFFF 15%, #344C5C 50%,#FFFFFF 85%);
//   background-image:-ms-linear-gradient(left, #FFFFFF 15%, #344C5C 50%,#FFFFFF 85%);
//   background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#FFFFFF), color-stop(50%,#344C5C),color-stop(85%,#FFFFFF));
// }
















