// Variables
@import "config/variables";

// Components
@import "components/navbar";
@import "components/button";
@import "components/avatar";
@import "components/card";
@import "components/quote";
@import "components/utilities";

// Sections
@import "sections/banner";


body {
  margin: 0;
  background-color: white;
  color: $brand-blue;
  font-family: $base-font;
}

a {
  color: rgba(#000, 0.7);
  display: inline !important;
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.discover {
  padding-top: 100px;
  background: linear-gradient(0deg, rgba(3, 187, 156,0.1) 0%, rgba(255,255,255,0.9 ) 80%);
  border-bottom: solid 1px #7CDDCC;
}


ul {
  list-style: none;
}

.float-right {
  float: right;
  margin-right: 50px;
}


.security {
  background-color: #6AE0CC;
  padding: 10% 0%;

  h1 {
    font-weight: lighter;
    margin-bottom: 80px;
    color: $brand-blue;
  }
}

.feedbacks {
  border-top: solid 1px #7CDDCC;
  background: linear-gradient(180deg, rgba(3, 187, 156,0.08) 0%, rgba(255,255,255,0.9 ) 30%);
  padding: 7% 0% 10% 0%;
  margin-top: 50px;

  h1 {
    font-weight: lighter;
    margin-bottom: 50px;
    color: $brand-blue;
  }
}

.discover {
  h1 {
    font-weight: lighter;
    margin-bottom: 50px;
    color: $brand-blue;
  }
}

.preorder {
  h1 {
    font-weight: lighter;
    margin-bottom: 50px;
    color: $brand-blue;
  }
}

.team {
  padding-top: 100px;
  h1 {
    font-weight: lighter;
    margin-bottom: 20px;
    color: $brand-blue;
  }
}

footer {

  color: white;
  font-weight: lighter;
  height: 100%;
  margin-top: 20px;

  .light {
    background-color: $brand-blue-light;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .dark {
    background-color: $brand-blue;
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

.logowg {
  position: absolute;
  left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.logofooter {
  position: absolute;
  left: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.copyright {
  font-size: 12px;
  padding-top: 50px;
}

h2 {
  font-weight: lighter;
  font-size: 25px;
}

.wrapper {
  background-color: #F3F3F3;
  height: 150%;
  padding-top: 15px;
  padding-bottom: 30px;
}

.learn-more, .services, .address, .infos {
  p {
    color: rgba(255, 255, 255, 0.5);
  }

  h4 {
    margin-top: 20px;
  }

  a{
    color: rgba(255, 255, 255, 0.5);
    display: block !important;
    margin-top: 5px;

    &:hover {
      text-decoration: none;
      color: white;
      // transition: ease 0.4;
    }
  }
}



#preorder {
  padding-top: 100px;
}

.signature {
  float: right;
  margin-right: 20px;
  font-style: italic;
}

.faq {
  padding-top: 100px;
}





















