.avatar {
  width: 250px;
  margin: 30px 0px;
}

.small-avatar {
  width: 160px;
  margin: 20px 20px 40px 20px;

}

.icon-avatar {
  width: 120px;
  height: 120px;
  border: solid 2px $brand-blue;
  border-radius: 50%;
  padding-top: 30px;
  margin: 0 auto 30px;
}
