.button-primary{
  height: 40px;
  border-radius: 50px;
  background-color: $brand-green;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: $brand-green-light;
  }
}

.button-secondary {
  height: 35px;
  width: 150px;
  border-radius: 50px;
  border: solid 1px $brand-blue;
  padding: 0.5em 0.6em;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  &:hover {
    background-color: $brand-blue;
    color: white;
  }
}

.large-btn {
  width: 350px;
}

.medium-btn {
  width: 250px;
}

.small-btn {
  width: 200px;
}
