.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 60px;
  border-radius: 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 100;

  li {
    display: inline;
  }
}

.navlist {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo-signature {
  position: absolute;
  top: 40px;
  left: 100px;
  color: $brand-blue;
}


.nav-item {
  font-size: 16px;
  margin-right: 35px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: black;
  }
}


.top-15 {
  margin-top: 15px;
}













//////////////////////////////////////////////////////// NAV pf

/* Main class */
.navbar-pf {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding-right: 50px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-pf-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-pf-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-pf-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-pf-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-pf-link {
  color: #616668;
  font-size: 14px;
}
.navbar-pf-link:hover {
  color: $brand-green;
  text-decoration: none;
}

/* Navbar right button */
.navbar-pf-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: $brand-green;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.navbar-pf-button:hover {
  color: white;
  background: $brand-green-light;
}

/* Navbar search form */
.navbar-pf-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-pf-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-pf-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-pf-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-pf-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-pf-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-pf-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-pf-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


























