.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 70px;
  border-radius: 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 100;

  li {
    display: inline;
  }
}

.navlist {
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  position: absolute;
  top: 15px;
  left: 40px;
}

.logo-signature {
  position: absolute;
  top: 40px;
  left: 100px;
  color: $brand-blue;
}


.nav-item {
  font-size: 16px;
  margin-right: 35px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: black;
  }
}


.top-15 {
  margin-top: 15px;
}
