.video {
  height: 75vh;
  background-size: cover !important;

  h1 {
    margin: 0 30px;
    font-size: 3vw;
    color: white;
    font-family: "Roboto";
    font-weight: lighter;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding-top: 15vh;
    margin-bottom: 40px;
  }
}


.tutorial {
  max-width: 550px;
  min-width: 350px;
  min-height: 250px;
  max-height: 450px;
  width: 100%;
}
