.preorder {
  h1 {
    font-weight: lighter;
    margin-bottom: 50px;
    color: $brand-blue;
  }
}

#preorder {
  padding-top: 80px;
}

.timeline {
  width: 94%;
  margin-left: 3%;
  margin-right:3%;
}
