<!-- Nav -->
<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="#home" class="navbar-wagon-brand">
    <svg xmlns="http://www.w3.org/2000/svg" width="170" class="logo" viewBox="8.18 357.5 332.5 43">
      <defs>
        <style>
          .cls-1 {
            fill: #03bb9c;
            stroke: rgba(0,0,0,0);
          }
        </style>
      </defs>
      <path id="Tracé_1" data-name="Tracé 1" class="cls-1" d="M5.1-.42a1.389,1.389,0,0,1-.42-1.02V-40.5a1.524,1.524,0,0,1,.39-1.08A1.364,1.364,0,0,1,6.12-42H22.2q7.26,0,11.4,3.42t4.14,9.96q0,6.48-4.14,9.81T22.2-15.48H13.38V-1.44a1.364,1.364,0,0,1-.42,1.05A1.524,1.524,0,0,1,11.88,0H6.12A1.389,1.389,0,0,1,5.1-.42ZM21.9-22.2a7.677,7.677,0,0,0,5.31-1.65,6.17,6.17,0,0,0,1.83-4.83,6.505,6.505,0,0,0-1.77-4.86q-1.77-1.74-5.37-1.74H13.26V-22.2ZM38.1-.36a1.221,1.221,0,0,1-.36-.9l.12-.54,14.4-38.7A2.165,2.165,0,0,1,54.42-42h6.6a2.165,2.165,0,0,1,2.16,1.5L77.58-1.8l.12.54a1.174,1.174,0,0,1-.39.9,1.253,1.253,0,0,1-.87.36H71.1a1.739,1.739,0,0,1-1.74-1.14L66.6-8.4H48.84L46.08-1.14A1.739,1.739,0,0,1,44.34,0H39A1.221,1.221,0,0,1,38.1-.36Zm12.84-15H64.5L57.72-33.84Zm29.01,15a1.174,1.174,0,0,1-.39-.9,1.842,1.842,0,0,1,.24-.72L93.18-21.42,80.64-40.02a1.29,1.29,0,0,1-.24-.72,1.174,1.174,0,0,1,.39-.9,1.253,1.253,0,0,1,.87-.36h6.3a2.238,2.238,0,0,1,1.86,1.14l8.76,12.84,8.82-12.84A2.053,2.053,0,0,1,109.26-42h5.94a1.253,1.253,0,0,1,.87.36,1.174,1.174,0,0,1,.39.9,1.842,1.842,0,0,1-.24.72l-12.54,18.6L117.12-1.98a1.6,1.6,0,0,1,.18.72,1.221,1.221,0,0,1-.36.9,1.221,1.221,0,0,1-.9.36h-6.42a2.26,2.26,0,0,1-1.86-1.08l-9.48-13.5L88.92-1.08A2.26,2.26,0,0,1,87.06,0H80.82A1.253,1.253,0,0,1,79.95-.36Zm44.37,0a1.3,1.3,0,0,1-.36-.96v-39.3a1.4,1.4,0,0,1,.36-.99,1.244,1.244,0,0,1,.96-.39h23.16a1.379,1.379,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-20.7v16.14h19.5a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-19.5V-1.32a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08A1.3,1.3,0,0,1,124.32-.36Zm27.3,0a1.151,1.151,0,0,1-.36-.84l.12-.66L166.56-40.8A1.74,1.74,0,0,1,168.3-42h2.04a1.74,1.74,0,0,1,1.74,1.2L187.26-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H158.7L154.98-.9a1.684,1.684,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,151.62-.36Zm8.52-13.74H178.5l-9.18-23.64ZM194.85-.36a1.244,1.244,0,0,1-.39-.96v-39.3a1.319,1.319,0,0,1,.39-1.02,1.4,1.4,0,0,1,.99-.36h1.5a1.277,1.277,0,0,1,1.26.78L212.22-14.7,225.9-41.22a1.352,1.352,0,0,1,1.26-.78h1.44a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v39.3a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08a1.3,1.3,0,0,1-.96-.36,1.3,1.3,0,0,1-.36-.96V-33.84L214.74-11.28a1.891,1.891,0,0,1-1.86,1.2h-1.32a1.891,1.891,0,0,1-1.86-1.2L198.24-33.84V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.08A1.4,1.4,0,0,1,194.85-.36Zm46.77,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,241.62-.36Zm15.06,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-3.6h20.7a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36H257.64A1.3,1.3,0,0,1,256.68-.36Zm32.88,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,289.56-.36Zm10.86,0a1.151,1.151,0,0,1-.36-.84l.12-.66L315.36-40.8A1.74,1.74,0,0,1,317.1-42h2.04a1.74,1.74,0,0,1,1.74,1.2L336.06-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H307.5L303.78-.9a1.683,1.683,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,300.42-.36Zm8.52-13.74H327.3l-9.18-23.64Z" transform="translate(4 400)"/>
    </svg>
    <p class="logo-signature">by FriendsFamily</p>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="#discover" class="navbar-wagon-item navbar-wagon-link">Découvrir</a>
    <a href="#preorder" class="navbar-wagon-item navbar-wagon-link">Pourquoi précommander?</a>
    <a href="#feedbacks" class="navbar-wagon-item navbar-wagon-link">Avis</a>
    <a href="#security" class="navbar-wagon-item navbar-wagon-link">Sécurité</a>
    <a href="#team" class="navbar-wagon-item navbar-wagon-link">Equipe</a>
    <a href="#faq" class="navbar-wagon-item navbar-wagon-link">Questions</a>

    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn stripeButton">Précommandez</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#discover" class="navbar-wagon-item navbar-wagon-link">Découvrir</a></li>
          <li><a href="#preorder" class="navbar-wagon-item navbar-wagon-link">Pourquoi précommander?</a></li>
          <li><a href="#feedbacks" class="navbar-wagon-item navbar-wagon-link">Avis</a></li>
          <li><a href="#security" class="navbar-wagon-item navbar-wagon-link">Sécurité</a></li>
          <li><a href="#team" class="navbar-wagon-item navbar-wagon-link">Equipe</a></li>
          <li><a href="#faq" class="navbar-wagon-item navbar-wagon-link">Questions</a></li>
        </ul>
    </div>
  </div>
</div>


<!-- Banner -->
<div class="introduction text-center" id="home">
  <div class="video" style="background: linear-gradient(180deg, rgba(3, 187, 156, 0.8) 0%, rgba(52, 76, 92, 0.8) 80%), url('images/equipe-copie2.jpg');">
    <h1>
      Faire grandir votre famille
      <br> au fil des générations.
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <iframe class="tutorial" src="https://www.youtube.com/embed/eee-sh3HVG0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <!-- Wrapper -->
  <div class="wrapper">
    <div class="container">
      <div class="row mt20">

        <!-- Co-Founder quote -->
        <div class="col-lg-6 col-md-6 col-xs-12 mb20">
          <p class="big-quote">"Aidez-nous à construire l'outil de transmission patrimonial de vos rêves et rejoignez notre communauté de premiers utilisateurs."</p>
          <p class="signature">Guillaume de Monie et Guillaume Desclée</p>
        </div>

        <!-- Campaign progress -->
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="row">

            <!-- Orders -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i class="fa fa-credit-card fa-3x mb10"></i>
              <h4 class="mb20"><strong>45 / 50</strong> commandes</h4>
            </div>

            <!-- Shipping -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i class="fa fa-truck fa-3x mb10"></i>
              <h4 class="mb20"><strong>92</strong> jours avant livraison</h4>
            </div>
          </div>

          <!-- Pre-order btn -->
          <button class="button-primary large-btn mt10 mb10 stripeButton">Précommandez aujourd'hui</button>
          <p>Prix: 350€ HTVA, Livraison le 1er octobre 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section découverte -->
<div class="discover" id="discover">

  <!-- Titles -->
  <div class="container">
    <h1 class="text-center">Découvrir<div class="line"></div></h1>
    <h2 class="text-center paxfamilia">PAX FAMILIA</h2>
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <h3 class="text-center paxfamilia-desc" id="alignment">Nous vous offrons des outils en ligne pour organiser votre transmission patrimoniale tout en préservant la cohésion familiale</h3>
      </div>
    </div>
  </div>

  <!-- Alignement familale et transparence -->
  <div class="container mt60">
    <h3 class="text-center mb20" >Alignement familale et transparence</h3>
    <div class="row">

      <!-- Cadastre des transactions -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Cadastre des transactions</h4>
          <p>Réalisez l'inventaire des donations faites au sein de votre famille et comparez la situation de chacun.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Bilan patrimonial -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-table fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Bilan patrimonial</h4>
          <p>Calculez le montant de votre actif net et obtenez un rapport clair et précis de vos avoirs.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Contractualisation -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Contractualisation</h4>
          <p>Créez et personnalisez automatiquement vos contrats de prêt afin d'éviter les malentendus.</p>
          <br>
          <div class="button-secondary" id="planification">Voir plus</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Anticipation financière et planification -->
  <div class="container mt60">
    <h3 class="text-center mb20">Anticipation financière et planification</h3>
    <div class="row">
      <!-- Planification financière -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-calendar-check-o fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Planification financière</h4>
          <p>Estimez et planifiez votre avenir financier en fonction de votre situation et de vos objectifs.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Simulateur successoral -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-desktop fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Simulateur successoral</h4>
          <p>Calculez le risque fiscale de votre succession dans les trois régions belges.</p>
          <br><br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Consultations juridiques -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-balance-scale fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Consultations juridiques</h4>
          <p>Bénéficiez de services externes de spécialistes en fnoction de vos souhaits et de vos besoins</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>
    </div>

    <!-- Pre-order btn -->
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <button class="button-primary  mb60 mt60 medium-btn stripeButton">Précommandez</button>
      </div>
    </div>
  </div>
</div>


<!-- Section Pré-commandes -->
<div class="preorder" id="preorder">
  <h1 class="text-center">Pourquoi précommander?<div class="line"></div></h1>
  <h3 class="text-center mb40 paxfamilia">Co-construisez et profitez du prix avantageux</h3>
  <h3 class=" text-center paxfamilia-desc">En achentant notre service aujourd’hui vous bénéficiez d’un prix avantageux, 350€ et participerez à la construction d’une société meilleure...</h3>

  <!-- Why preorder? -->
  <div class="container mt40">
    <div class="row">
      <!-- Tarif réduit -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-question">
          <h4>Profitez d'un tarif réduit pour un service maxi!</h4>
        </div>
        <div class="card-answer">
          Contrairement au public, vous ne payerez aucun frais annuel de maintenance (75€ par an).
        </div>
      </div>

      <!-- Base saine -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-question">
          <h4>Posez des bases saines à votre succession future.</h4>
        </div>
        <div class="card-answer">
          Préservez votre famille et évitez les conflits futures potentiels liés à votre succesion.
        </div>
      </div>
    </div>

    <div class="row mb30">
      <!-- Plus on attend -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-question">
          <h4>Parce que plus on attend moins on le fait.</h4>
        </div>
        <div class="card-answer">
          Plus on avance en âge moins on est en clein à organiser sa succesion.
        </div>
      </div>

      <!-- Aidez des jeunes -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-question">
          <h4>Aidez des jeunes entrepreneurs et rejoignez notre communauté VIP!</h4>
        </div>
        <div class="card-answer">
          Co-construisez avec nous...
        </div>
      </div>
    </div>
  </div>


  <!-- Timeline img -->
  <div class="container">
    <div class="row">
      <!-- Image -->
      <div class="col-xs-12 col-md-12 col-lg-12 ">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 1542 586" style="enable-background:new 0 0 1542 586;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#344C5C;}
            .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#03BB9C;stroke:#344C5C;stroke-width:6;stroke-miterlimit:10;}
            .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#03BB9C;stroke:#03BB9C;stroke-width:6;stroke-miterlimit:10;}
            .st3{fill:#03BB9C;stroke:#344C5C;stroke-width:6;stroke-miterlimit:10;}
            .st4{fill:#03BB9C;stroke:#03BB9C;stroke-width:6;stroke-miterlimit:10;}
            .st5{fill:#03BB9C;}
            .st6{font-family:'OpenSans-Semibold';}
            .st7{font-size:28px;}
            .st8{font-size:27px;}
            .st9{font-family:'OpenSans-Extrabold';}
            .st10{fill:#FFFFFF;}
          </style>
          <g>
            <g>
              <path class="st0" d="M7.5,245.5c13.7,0,27.4,0,41.1,0c36.9,0,73.8,0,110.8,0c54.7,0,109.5,0,164.2,0c66.8,0,133.6,0,200.3,0
              c72.9,0,145.8,0,218.7,0c74.1,0,148.2,0,222.2,0c68.6,0,137.2,0,205.8,0c58.2,0,116.4,0,174.5,0c41.8,0,83.7,0,125.5,0
              c19.8,0,39.6,0.4,59.3,0c0.9,0,1.7,0,2.6,0c7.7,0,7.7-12,0-12c-13.7,0-27.4,0-41.1,0c-36.9,0-73.8,0-110.8,0
              c-54.7,0-109.5,0-164.2,0c-66.8,0-133.6,0-200.3,0c-72.9,0-145.8,0-218.7,0c-74.1,0-148.2,0-222.2,0c-68.6,0-137.2,0-205.8,0
              c-58.2,0-116.4,0-174.5,0c-41.8,0-83.7,0-125.5,0c-19.8,0-39.6-0.4-59.3,0c-0.9,0-1.7,0-2.6,0C-0.2,233.5-0.2,245.5,7.5,245.5
              L7.5,245.5z"/>
            </g>
          </g>
          <circle class="st1" cx="81.3" cy="240" r="29"/>
          <circle class="st2" cx="1344" cy="240" r="29"/>
          <circle class="st1" cx="975.5" cy="239" r="29"/>
          <line class="st3" x1="81" y1="268" x2="81" y2="381"/>
          <line class="st3" x1="975" y1="268" x2="975" y2="381"/>
          <line class="st4" x1="1344" y1="268" x2="1344" y2="381"/>
          <circle class="st0" cx="81" cy="381" r="3"/>
          <circle class="st0" cx="975" cy="381" r="3"/>
          <circle class="st5" cx="1344" cy="381" r="3"/>
          <g>
            <g>
              <path class="st0" d="M1536.7,235.3c-14-14-28-28-42-42c-5.5-5.5-14,3-8.5,8.5c14,14,28,28,42,42
              C1533.7,249.2,1542.2,240.7,1536.7,235.3L1536.7,235.3z"/>
            </g>
          </g>
          <g>
            <g>
              <path class="st0" d="M1494.7,285.7c14-13.8,28-27.7,42-41.5c5.5-5.4-3-13.9-8.5-8.5c-14,13.8-28,27.7-42,41.5
              C1480.8,282.7,1489.2,291.2,1494.7,285.7L1494.7,285.7z"/>
            </g>
          </g>
          <text transform="matrix(1 0 0 1 2.6802 166.8438)" class="st0 st6 st7">Aujourd’hui</text>
          <text transform="matrix(1 0 0 1 77.9805 442.8438)"><tspan x="0" y="0" class="st0 st6 st8">VOUS </tspan><tspan x="79.9" y="0" class="st0 st9 st8">PRECOMMANDEZ</tspan></text>
          <text transform="matrix(1 0 0 1 882.4885 166.8438)" class="st0 st6 st7">15 septembre</text>
          <text transform="matrix(1 0 0 1 1265.9434 166.8438)" class="st0 st6 st7">1er octobre</text>
          <text transform="matrix(1 0 0 1 971.9805 442.8438)"><tspan x="0" y="0" class="st0 st6 st8">VOUS RECEVEZ VOTRE</tspan><tspan x="0" y="32.4" class="st0 st6 st8">ACCES </tspan><tspan x="89" y="32.4" class="st0 st9 st8">PREMIUM </tspan><tspan x="228.2" y="32.4" class="st0 st6 st8">ET </tspan><tspan x="0" y="64.8" class="st0 st9 st8">ILLIMITE</tspan></text>
          <text transform="matrix(1 0 0 1 1340.9805 442.8438)"><tspan x="0" y="0" class="st0 st9 st8">LANCEMENT </tspan><tspan x="0" y="32.4" class="st0 st9 st8">PUBLIQUE</tspan></text>
          <circle class="st0" cx="81" cy="394" r="3"/>
          <circle class="st0" cx="975" cy="394" r="3"/>
          <circle class="st5" cx="1344" cy="394" r="3"/>
          <g>
            <line class="st0" x1="136.1" y1="289" x2="922.1" y2="289"/>
            <g>
              <path class="st0" d="M136.1,294c7,0,14,0,21,0c19,0,38.1,0,57.1,0c28.3,0,56.6,0,84.9,0c34.4,0,68.7,0,103.1,0
              c37.6,0,75.3,0,112.9,0c38,0,76,0,114,0c35.4,0,70.9,0,106.3,0c30.1,0,60.1,0,90.2,0c21.5,0,43,0,64.6,0c10.2,0,20.4,0.3,30.6,0
              c0.4,0,0.9,0,1.3,0c6.4,0,6.4-10,0-10c-7,0-14,0-21,0c-19,0-38.1,0-57.1,0c-28.3,0-56.6,0-84.9,0c-34.4,0-68.7,0-103.1,0
              c-37.6,0-75.3,0-112.9,0c-38,0-76,0-114,0c-35.4,0-70.9,0-106.3,0c-30.1,0-60.1,0-90.2,0c-21.5,0-43,0-64.6,0
              c-10.2,0-20.4-0.3-30.6,0c-0.4,0-0.9,0-1.3,0C129.6,284,129.6,294,136.1,294L136.1,294z"/>
            </g>
          </g>
          <g>
            <rect x="324.6" y="279" class="st10" width="409" height="30"/>
            <text transform="matrix(1 0 0 1 334.8507 296.8438)"><tspan x="0" y="0" class="st0 st6 st8">Nous développons avec </tspan><tspan x="314.8" y="0" class="st0 st9 st8">vous</tspan><tspan x="381" y="0" class="st0 st6 st8">!</tspan></text>
          </g>
        </svg>

    </div>

    <!-- Pre-order btn -->
    <div class="col-xs-12 col-md-12 col-lg-12 text-center mt60">
      <button class="button-primary medium-btn stripeButton">Précommandez</button>
    </div>
  </div>
</div>
</div>


<!-- Section Avis -->
<div class="feedbacks" id="feedbacks">
  <h1 class="text-center">Ce que disent les professionels<div class="line"></div></h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/p-nicaise.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda, laborum voluptates iure voluptate tempore delectus voluptatem ab incidunt non deleniti nemo soluta illo, dolor consequuntur, quam quia!"</p>
          <p><strong>Maître Pierre Nicaise</strong>, Président de la fédérations des Notaires de Belgique</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/pa-hocke.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nesciunt pariatur, ea dolor? Nihil rerum dolores explicabo esse, illum eaque delectus molestias consequuntur quisquam sunt necessitatibus totam nemo, voluptate similique!"</p>
          <p><strong>Pierre-Alexis Hocke</strong>, Responsable département Juridique et Patrimonial à la banque Edmond de Rothschild</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/d-vanneste.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias quis ut inventore blanditiis nam est temporibus et odit dicta fuga, molestiae distinctio. Ut quo odio assumenda consequatur, veritatis, eos."</p>
          <p><strong>Dominique Van Neste</strong>, Psychologue à la fondation Benoit.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Sécurité -->
<div class="security" id="security">
  <h1 class="text-center">Proctection de vos données<div class="line"></div></h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="card text-center">
          <i class="fa fa-lock fa-5x mt20 mb30" aria-hidden="true"></i>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class=" card text-center">
          <i class="fa fa-ban fa-5x mt20 mb30" aria-hidden="true"></i>
          <p>Vos informations sont à 100% privées et ne sont accessibles que par ceux avec qui vous choississez de les partager.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <div class=" card text-center">
          <i class="fa fa-question fa-5x mt20 mb30" aria-hidden="true"></i>
          <p>Retrouvez plus d'informations détaillée sur notre F.A.Q.</p>
        </div>
        <button class="button-ternary mt20">Consultez la F.A.Q.</button>
      </div>
    </div>
  </div>
</div>


<!-- Section équipe -->
<div class="team" id="team">
  <h1 class="text-center">L'envie de créer et de servir les familles<div class="line"></div></h1>
  <div class="container">
    <div class="row">
      <!-- Guillaume Desclée -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui1.png" alt="gui1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6nA41guZ8Fgou8PQhl1jdyIq',
    image: 'https://diio988lyqzal.cloudfront.net/assets/logo-cec74ac441aa2bff70eb6990ccee3507f8628cf0971467ead062c23af630b0dc.png',
    locale: 'auto',
    token: function(token) {
      // You can access the token ID with `token.id`.
      // Get the token ID to your server-side code for use.
    }
  });

  $('.stripeButton').on('click', function(e) {
    // Open Checkout with further options:
    handler.open({
      name: 'PaxFamilia',
      description: 'Précommandez aujourd\'hui',
      zipCode: true,
      currency: 'eur',
      amount: 35000
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>

<!-- Footer -->
<footer>
  <!-- Light part -->
  <div class="light text-center">
    <button class="button-primary medium-btn text-center" onClick="location.href='mailto:contact@friendsfamily.com?'">Contactez-nous</button>
  </div>

  <!-- Dark part -->
  <div class="dark">
    <div class="container">
      <div class="row">

        <!-- Address -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="address">
            <h4 class="mb20">FriendsFamily</h4>
            <p>
              Hive5 Co-working
              <br>
              Cours Saint-Michel 30
              <br>
              Securex Building 2nd floor
              <br>
              1040 Brussels
            </p>
            <img src="images/logowg.png" alt="logo friendsfamily" class="" width="50">
          </div>
        </div>

        <!-- Learn more -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="learn-more">
            <h4 class="mb20">En savoir plus</h4>
            <a href="#feedbacks">Avis des professionels</a>
            <a href="#security">Protection des données</a>
            <a href="https://www.friendsfamily.com/faq?locale=fr" target="_blank">F.A.Q.</a>
            <a href="#team">A propos</a>
          </div>
        </div>

        <!-- Services -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="services">
            <h4 class="mb20">Nos Services</h4>
            <a href="#alignment">Cadastre des transactions</a>
            <a href="#alignment">Bilan Patrimonial</a>
            <a href="#alignment">Contractualisation</a>
            <a href="#planification">Planification financière</a>
            <a href="#planification">Simulateur Successoral</a>
            <a href="#planification">Consultations Juridiques</a>
          </div>
        </div>

        <!-- Informations -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="infos">
            <h4 class="mb20">Contacts</h4>
            <a href="" onClick="location.href='mailto:contact@friendsfamily.com?'">contact@friendsfamily.com</a>
            <a class="mt10" href="tel:+3228805982">Téléphone: +32 2 880 59 82</a>
            <br><br><br>
            <a href="">Termes et Conditions</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <p class="copyright text-center">© FriendsFamily 2017 All Rights Reserved</p>
  </div>
</footer>



















