<!-- Barre de Navigation -->
<div class="navbar list-inline">

  <!-- Logo green -->
  <a href="#home">
    <svg xmlns="http://www.w3.org/2000/svg" width="170" class="logo" viewBox="8.18 357.5 332.5 43">
      <defs>
        <style>
          .cls-1 {
            fill: #03bb9c;
            stroke: rgba(0,0,0,0);
          }
        </style>
      </defs>
      <path id="Tracé_1" data-name="Tracé 1" class="cls-1" d="M5.1-.42a1.389,1.389,0,0,1-.42-1.02V-40.5a1.524,1.524,0,0,1,.39-1.08A1.364,1.364,0,0,1,6.12-42H22.2q7.26,0,11.4,3.42t4.14,9.96q0,6.48-4.14,9.81T22.2-15.48H13.38V-1.44a1.364,1.364,0,0,1-.42,1.05A1.524,1.524,0,0,1,11.88,0H6.12A1.389,1.389,0,0,1,5.1-.42ZM21.9-22.2a7.677,7.677,0,0,0,5.31-1.65,6.17,6.17,0,0,0,1.83-4.83,6.505,6.505,0,0,0-1.77-4.86q-1.77-1.74-5.37-1.74H13.26V-22.2ZM38.1-.36a1.221,1.221,0,0,1-.36-.9l.12-.54,14.4-38.7A2.165,2.165,0,0,1,54.42-42h6.6a2.165,2.165,0,0,1,2.16,1.5L77.58-1.8l.12.54a1.174,1.174,0,0,1-.39.9,1.253,1.253,0,0,1-.87.36H71.1a1.739,1.739,0,0,1-1.74-1.14L66.6-8.4H48.84L46.08-1.14A1.739,1.739,0,0,1,44.34,0H39A1.221,1.221,0,0,1,38.1-.36Zm12.84-15H64.5L57.72-33.84Zm29.01,15a1.174,1.174,0,0,1-.39-.9,1.842,1.842,0,0,1,.24-.72L93.18-21.42,80.64-40.02a1.29,1.29,0,0,1-.24-.72,1.174,1.174,0,0,1,.39-.9,1.253,1.253,0,0,1,.87-.36h6.3a2.238,2.238,0,0,1,1.86,1.14l8.76,12.84,8.82-12.84A2.053,2.053,0,0,1,109.26-42h5.94a1.253,1.253,0,0,1,.87.36,1.174,1.174,0,0,1,.39.9,1.842,1.842,0,0,1-.24.72l-12.54,18.6L117.12-1.98a1.6,1.6,0,0,1,.18.72,1.221,1.221,0,0,1-.36.9,1.221,1.221,0,0,1-.9.36h-6.42a2.26,2.26,0,0,1-1.86-1.08l-9.48-13.5L88.92-1.08A2.26,2.26,0,0,1,87.06,0H80.82A1.253,1.253,0,0,1,79.95-.36Zm44.37,0a1.3,1.3,0,0,1-.36-.96v-39.3a1.4,1.4,0,0,1,.36-.99,1.244,1.244,0,0,1,.96-.39h23.16a1.379,1.379,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-20.7v16.14h19.5a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-19.5V-1.32a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08A1.3,1.3,0,0,1,124.32-.36Zm27.3,0a1.151,1.151,0,0,1-.36-.84l.12-.66L166.56-40.8A1.74,1.74,0,0,1,168.3-42h2.04a1.74,1.74,0,0,1,1.74,1.2L187.26-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H158.7L154.98-.9a1.684,1.684,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,151.62-.36Zm8.52-13.74H178.5l-9.18-23.64ZM194.85-.36a1.244,1.244,0,0,1-.39-.96v-39.3a1.319,1.319,0,0,1,.39-1.02,1.4,1.4,0,0,1,.99-.36h1.5a1.277,1.277,0,0,1,1.26.78L212.22-14.7,225.9-41.22a1.352,1.352,0,0,1,1.26-.78h1.44a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v39.3a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36h-1.08a1.3,1.3,0,0,1-.96-.36,1.3,1.3,0,0,1-.36-.96V-33.84L214.74-11.28a1.891,1.891,0,0,1-1.86,1.2h-1.32a1.891,1.891,0,0,1-1.86-1.2L198.24-33.84V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.08A1.4,1.4,0,0,1,194.85-.36Zm46.77,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,241.62-.36Zm15.06,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-3.6h20.7a1.38,1.38,0,0,1,1.02.36,1.38,1.38,0,0,1,.36,1.02v.9a1.244,1.244,0,0,1-.39.96,1.4,1.4,0,0,1-.99.36H257.64A1.3,1.3,0,0,1,256.68-.36Zm32.88,0a1.3,1.3,0,0,1-.36-.96V-40.68a1.3,1.3,0,0,1,.36-.96,1.3,1.3,0,0,1,.96-.36h1.14a1.3,1.3,0,0,1,.96.36,1.3,1.3,0,0,1,.36.96V-1.32a1.3,1.3,0,0,1-.36.96,1.3,1.3,0,0,1-.96.36h-1.14A1.3,1.3,0,0,1,289.56-.36Zm10.86,0a1.151,1.151,0,0,1-.36-.84l.12-.66L315.36-40.8A1.74,1.74,0,0,1,317.1-42h2.04a1.74,1.74,0,0,1,1.74,1.2L336.06-1.86l.12.66a1.151,1.151,0,0,1-.36.84,1.151,1.151,0,0,1-.84.36h-1.2a1.243,1.243,0,0,1-.87-.3,1.683,1.683,0,0,1-.45-.6l-3.72-9.6H307.5L303.78-.9a1.683,1.683,0,0,1-.45.6,1.243,1.243,0,0,1-.87.3h-1.2A1.151,1.151,0,0,1,300.42-.36Zm8.52-13.74H327.3l-9.18-23.64Z" transform="translate(4 400)"/>
    </svg>
    <p class="logo-signature">by FriendsFamily</p>
  </a>

  <!-- Nav items -->
  <ul class="navlist">
    <li class="text-center nav-item"><a href="#discover">Découvrir</a></li>
    <li class="text-center nav-item"><a href="#preorder">Pourquoi précommander?</a></li>
    <li class="text-center nav-item"><a href="#feedbacks">Avis</a></li>
    <li class="text-center nav-item"><a href="#security">Sécurité</a></li>
    <li class="text-center nav-item"><a href="#team">Équipe</a></li>
    <li class="text-center nav-item"><a href="#faq">Questions</a></li>
  </ul>
  <button class="top-15 button-primary small-btn float-right">Précommandez</button>
</div>


<!-- Banner -->
<div class="introduction text-center" id="home">
  <div class="video" style="background: linear-gradient(180deg, rgba(3, 187, 156, 0.8) 0%, rgba(52, 76, 92, 0.8) 80%), url('images/equipe-copie2.jpg');">
    <h1>
      Faire grandir votre famille
      <br> au fil des générations.
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <iframe class="tutorial" src="https://www.youtube.com/embed/eee-sh3HVG0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row mt20">

        <!-- Co-Founder quote -->
        <div class="col-lg-6 col-md-6 col-xs-12 mb20">
          <p class="big-quote">"Aidez-nous à construire l'outil de transmission patrimonial de vos rêves et rejoignez notre communauté de premiers utilisateurs."</p>
          <p class="signature">Guillaume de Monie et Guillaume Desclée</p>
        </div>

        <!-- Campaign progress -->
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="row">

              <!-- Orders -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="fa fa-truck fa-3x"></i>
                <p class="mb20">45 / 50 commandes</p>
              </div>

              <!-- Shipping -->
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <i class="fa fa-truck fa-3x"></i>
                <p class="mb20">92 jours avant livraison</p>
              </div>
            </div>

          <!-- Pre-order btn -->
          <button class="button-primary large-btn mt10 mb10">Précommandez aujourd'hui</button>
          <p>Prix: 350€ HTVA, Livraison le 1er octobre 2017</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section découverte -->
<div class="discover" id="discover">

  <!-- Titles -->
  <div class="container">
    <h1 class="text-center">Découvrir</h1>
    <h2 class="text-center">PAX FAMILIA</h2>
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-xs-12 text-center">
        <h3 class="text-center" id="alignment">Nous vous offrons des outils en ligne pour organiser votre transmission patrimoniale tout en préservant la cohésion familiale</h3>
      </div>
    </div>
  </div>

  <!-- Alignement familale et transparence -->
  <div class="container mt60">
    <h3 class="text-center mb20" >Alignement familale et transparence</h3>
    <div class="row">

      <!-- Cadastre des transactions -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Cadastre des transactions</h4>
          <p>Réalisez l'inventaire des donations faites au sein de votre famille et comparez la situation de chacun.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Bilan patrimonial -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-table fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Bilan patrimonial</h4>
          <p>Calculez le montant de votre actif net et obtenez un rapport clair et précis de vos avoirs.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Contractualisation -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
          </div>
          <h4>Contractualisation</h4>
          <p>Créez et personnalisez automatiquement vos contrats de prêt afin d'éviter les malentendus.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Anticipation financière et planification -->
  <div class="container mt60">
    <h3 class="text-center mb20" id="planification">Anticipation financière et planification</h3>
    <div class="row">
      <!-- Planification financière -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-calendar-check-o fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Planification financière</h4>
          <p>Estimez et planifiez votre avenir financier en fonction de votre situation et de vos objectifs.</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Simulateur successoral -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-desktop fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Simulateur successoral</h4>
          <p>Calculez le risque fiscale de votre succession dans les trois régions belges.</p>
          <br><br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>

      <!-- Consultations juridiques -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card card-small text-center">
          <div class="icon-avatar">
            <i class="fa fa-balance-scale fa-4x mb10" aria-hidden="true"></i>
          </div>
          <h4>Consultations juridiques</h4>
          <p>Bénéficiez de services externes de spécialistes en fnoction de vos souhaits et de vos besoins</p>
          <br>
          <div class="button-secondary">Voir plus</div>
        </div>
      </div>
    </div>

    <!-- Pre-order btn -->
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <button class="button-primary  mb60 mt60 medium-btn">Précommandez</button>
      </div>
    </div>
  </div>

  <!-- Video Tutorial -->
  <div class="tutorial">video 2</div>
</div>


<!-- Section Pré-commandes -->
<div class="preorder" id="preorder">
  <h1 class="text-center">Pourquoi précommander?</h1>
  <h2 class="text-center">Co-construisez et profitez du prix avantageux</h2>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="card-question col-xs-12">
        <h3>En achentant notre service aujourd’hui vous bénéficiez d’un prix avantageux, 350€ et participerez à la construction d’une société meilleure...</h3>
        <ul>
          <li>
            Profitez d'un tarif réduit pour un service maxi!
            <br>
            Contrairement au public, vous ne payerez aucun frais annuel de maintenance (75€ par an).
          </li>
          <li>
            Posez des bases saines à votre succession future.
            <br>
            Préservez votre famille et évitez les conflits futures potentiels liés à votre succesion.
          </li>
          <li>
            Parce que plus on attend moins on le fait.
            <br>
            Plus on avance en âge moins on est en clein à organiser sa succesion.
          </li>
          <li>
            Aidez des jeunes entrepreneurs et rejoignez notre communauté VIP!
            <br>
            Co-construisez avec nous...
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 text-center">
        <img src="" alt="timeline">
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12 text-center mt60">
        <button class="button-primary medium-btn">Précommandez</button>
      </div>
    </div>
  </div>
</div>


<!-- Section Avis -->
<div class="feedbacks" id="feedbacks">
  <h1 class="text-center">Ce que disent les professionels</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/p-nicaise.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda, laborum voluptates iure voluptate tempore delectus voluptatem ab incidunt non deleniti nemo soluta illo, dolor consequuntur, quam quia!"</p>
          <p><strong>Maître Pierre Nicaise</strong>, Président de la fédérations des Notaires de Belgique</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/pa-hocke.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nesciunt pariatur, ea dolor? Nihil rerum dolores explicabo esse, illum eaque delectus molestias consequuntur quisquam sunt necessitatibus totam nemo, voluptate similique!"</p>
          <p><strong>Pierre-Alexis Hocke</strong>, Responsable département Juridique et Patrimonial à la banque Edmond de Rthschild</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center card-large">
          <img src="images/d-vanneste.png" class="small-avatar" alt="avatar">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias quis ut inventore blanditiis nam est temporibus et odit dicta fuga, molestiae distinctio. Ut quo odio assumenda consequatur, veritatis, eos."</p>
          <p><strong>Dominique Van Neste</strong>, Psychologue à la fondation Benoit.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Sécurité -->
<div class="security" id="security">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="card cadenas text-center">
          <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
          <p>Vos données sont cryptées, les serveurs sont sécurisés et l'accès à votre compte est protégé par code SMS.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class=" card informations text-center">
          <i class="fa fa-ban fa-5x" aria-hidden="true"></i>
          <p>Vos informations sont à 100% privées et ne sont accessibles que par ceux avec qui vous choississez de les partager.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section équipe -->
<div class="team" id="team">
  <h1 class="text-center">L'envie de créer et de servir les familles</h1>
  <div class="container">
    <div class="row">
      <!-- Guillaume Desclée -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui1.png" alt="gui1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
      <!-- Guillaume de Monie -->
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="guillaume text-center">
          <img class="avatar" src="images/gui2.png" alt="gui2">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sint laudantium assumenda.</p>
          <p>
            <strong>Guillaume Desclée</strong>,
            gui@friendsfamily.com
            <br>
            +32 477 53 72 68
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Questions -->
<!-- <div class="faq" id="faq">
  <h1 class="text-center">Parlez-nous!</h1>
</div> -->

<!-- Footer -->
<footer>
  <!-- Light part -->
  <div class="light text-center">
    <button class="button-primary medium-btn text-center" onClick="location.href='mailto:contact@friendsfamily.com?'">Contactez-nous</button>
  </div>

  <!-- Dark part -->
  <div class="dark">
    <div class="container">
      <div class="row">

        <!-- Address -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="address">
            <h4 class="mb20">FriendsFamily</h4>
            <p>
              Hive5 Co-working
              <br>
              Cours Saint-Michel 30
              <br>
              Securex Building 2nd floor
              <br>
              1040 Brussels
            </p>
            <img src="images/logowg.png" alt="logo friendsfamily" class="" width="50">
          </div>
        </div>

        <!-- Learn more -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="learn-more">
            <h4 class="mb20">Learn More</h4>
            <a href="#feedbacks">Custumers Stories</a>
            <a href="#security">Quality expectations</a>
            <a href="https://www.friendsfamily.com/faq?locale=fr" target="_blank">F.A.Q.</a>
            <a href="#team">A propos</a>
          </div>
        </div>

        <!-- Services -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="services">
            <h4 class="mb20">Nos Services</h4>
            <a href="#alignment">Cadastre des transactions</a>
            <a href="#alignment">Bilan Patrimonial</a>
            <a href="#alignment">Contractualisation</a>
            <a href="#planification">Planification financière</a>
            <a href="#planification">Simulateur Successoral</a>
            <a href="#planification">Consultations Juridiques</a>
          </div>
        </div>

        <!-- Informations -->
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="infos">
            <h4 class="mb20">Contacts</h4>
            <a href="" onClick="location.href='mailto:contact@friendsfamily.com?'">contact@friendsfamily.com</a>
            <a class="mt10" href="tel:+3228805982">Téléphone: +32 2 880 59 82</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <p class="copyright text-center">© FriendsFamily 2017 All Rights Reserved</p>
  </div>
</footer>



















