  <!-- Wrapper -->
  <div class="wrapper">
    <div class="container">
      <div class="row mt20">

        <!-- Co-Founder quote -->
        <div class="col-lg-6 col-md-6 col-xs-12 mb20">
          <p class="big-quote">"Aidez-nous à construire l'outil de transmission patrimonial de vos rêves et rejoignez notre communauté de premiers utilisateurs."</p>
          <p class="signature">Guillaume de Monie et Guillaume Desclée</p>
        </div>

        <!-- Campaign progress -->
        <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="row">

            <!-- Orders -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i class="fa fa-credit-card fa-3x mb10"></i>
              <h4 class="mb20"><strong>45 / 50</strong> commandes</h4>
            </div>

            <!-- Shipping -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <i class="fa fa-truck fa-3x mb10"></i>
              <h4 class="mb20"><strong>92</strong> jours avant livraison</h4>
            </div>
          </div>

          <!-- Pre-order btn -->
          <button class="button-primary large-btn mt10 mb10 stripeButton">Précommandez aujourd'hui</button>
          <p>Prix: 350€ HTVA, Livraison le 1er octobre 2017</p>
        </div>
      </div>
    </div>
  </div>
